<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.contenttype.contentTypes">
  <content-type
        base-type="org.eclipse.core.runtime.text"
        file-extensions="properties"
        file-names="gradle"
        id="tm4.gradleprop"
        name="gradle property file"
        priority="normal"/>
  <file-association
        content-type="tm4.gradleprop"
        file-extensions="properties"
        file-names="gradle"/>
</extension>

<extension point="org.eclipse.tm4e.registry.grammars">
  <grammar path="src/syntax/gradleprop.tmLanguage.json" scopeName="source.gradleprop" />
  <scopeNameContentTypeBinding contentTypeId="tm4.gradleprop" scopeName="source.gradleprop" />
</extension>

<extension point="org.eclipse.ui.editors">
  <editorContentTypeBinding 
      editorId="org.eclipse.ui.genericeditor.GenericEditor"
      contentTypeId="tm4.gradleprop" />
</extension>
</plugin>
