<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="buildship-luna" sequenceNumber="26">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.2.M20150204-1700"/>
<repository location="http://dev1.gradle.org:8000/eclipse/update-site/mirror/release-luna-sr2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.2.1.201402241301"/>
<repository location="http://dev1.gradle.org:8000/eclipse/update-site/mirror/swtbot/release/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="2.2.4.v201311231704"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<repository location="http://dev1.gradle.org:8000/eclipse/update-site/mirror/orbit-mars/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.buildship.orbit.staging.feature.group" version="1.0.27"/>
<repository location="http://download.eclipse.org/buildship/orbit-staging/site1027"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.buildship.orbit.staging.feature.group" version="1.0.27"/>
<repository location="http://dev1.gradle.org:8000/eclipse/update-site/orbit-staging/site1027"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-XX:MaxPermSize=128M</vmArgs>
</launcherArgs>
</target>
