<?xml version="1.0"?>

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

    <!-- allow to suppress certain checks for specific scenarios -->
    <module name="SuppressionFilter">
        <property name="file" value="${checkstyleConfigDir}/suppressions.xml"/>
    </module>

    <!-- avoid tabs in the source code -->
    <module name="FileTabCharacter"/>

    <!-- require the copyright header -->
    <module name="RegexpHeader">
        <property name="headerFile" value="${checkstyleConfigDir}/required-header.txt"/>
    </module>

    <module name="TreeWalker">
        <!-- allow checkstyle suppression using the //CHECKSTYLE:ON //CHECKSTYLE:OFF -->
        <module name="SuppressionCommentFilter"/>

        <!-- ensure consistent style of Javadoc -->
        <module name="JavadocStyle"/>

        <!-- Braces -->
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="NeedBraces"/>

        <!-- Imports -->
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- this prefix on non-static fields -->
        <module name="RequireThis">
            <property name="checkFields" value="true"/>
            <property name="checkMethods" value="false"/>
        </module>
    </module>

</module>
