<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jetbrains.kotlin.core.scriptTemplateProviderEx">
      <provider
            class="org.eclipse.buildship.kotlin.GradleKotlinScriptTemplateProvider"
            id="org.eclipse.buildship.kotlin.scripttemplateprovider"
            name="Gradle Kotlin script">
      </provider>
   </extension>
</plugin>
