<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="gradle.properties"
            id="org.eclipse.buildship.gradleprop.provider.content"
            name="content for gradle.properties files"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="gradleprop.tmLanguage.json"
            scopeName="source.gradleprop">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.buildship.gradleprop.provider.content"
            scopeName="source.gradleprop">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.buildship.gradleprop.provider.content"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.buildship.gradleprop.provider.GradlePropertiesConnectionProvider"
            id="org.eclipse.buildship.gradleprop.provider.server"
            label="language server for gradle properties">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.buildship.gradleprop.provider.content"
            id="org.eclipse.buildship.gradleprop.provider.server">
      </contentTypeMapping>
   </extension>

</plugin>
