<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="properties"
            file-names="gradle"
            id="org.eclipse.buildship.kts.provider.content"
            name="KTS Language Server"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.buildship.kts.provider.content"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.buildship.gradleprop.provider.GradlePropertiesConnectionProvider"
            id="org.eclipse.buildship.kts.provider.server"
            label="org.eclipse.buildship.kts.provider.server">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.buildship.kts.provider.content"
            id="org.eclipse.buildship.kts.provider.server">
      </contentTypeMapping>
   </extension>

</plugin>
