<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!--integration of help -->
    <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help-contexts.xml">
      </contexts>
    </extension>

    <!-- integration of a Gradle project creation wizard -->
    <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.buildship.ui.wizard.project.creation"
            class="org.eclipse.buildship.ui.internal.wizard.project.ProjectCreationWizard"
            category="org.eclipse.buildship.ui.creationwizards"
            icon="icons/full/etool16/creation_wiz.png"
            name="Gradle Project"
            canFinishEarly="false"
            hasPages="true"
            project="true">
         <description>
            Create a new Gradle project.
         </description>
         <keywordReference id="org.eclipse.buildship.ui.keyword.buildship"/>
      </wizard>
      <category
            id="org.eclipse.buildship.ui.creationwizards"
            name="Gradle">
      </category>
    </extension>

    <!-- integration of a Gradle project import wizard -->
    <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            id="org.eclipse.buildship.ui.wizards.project.import"
            class="org.eclipse.buildship.ui.internal.wizard.project.ProjectImportWizard"
            category="org.eclipse.buildship.ui.importwizards"
            icon="icons/full/etool16/import_wiz.png"
            name="Existing Gradle Project">
         <description>
            Import a Gradle project from the local file system.
         </description>
         <keywordReference id="org.eclipse.buildship.ui.keyword.buildship"/>
      </wizard>
      <category
            id="org.eclipse.buildship.ui.importwizards"
            name="Gradle">
      </category>
    </extension>
    
    <!-- integration of a Gradle workspace composite creation wizard -->
    <extension point="org.eclipse.ui.newWizards">
    	<wizard
            id="org.eclipse.buildship.ui.wizard.workspaceComposite.creation"
            class="org.eclipse.buildship.ui.internal.wizard.workspacecomposite.WorkspaceCompositeCreationWizard"
            category="org.eclipse.buildship.ui.creationwizards"
            icon="icons/full/etool16/creation_wiz.png"
            name="Gradle Composite"
            canFinishEarly="false"
            hasPages="true"
            project="true">
         <description>
            Create a new Gradle workspace composite.
         </description>
         <keywordReference id="org.eclipse.buildship.ui.keyword.buildship"/>
      </wizard>
      <category
            id="org.eclipse.buildship.ui.creationwizards"
            name="Gradle">
      </category>
    </extension>

    <!-- definition of keywords available in search fields of Gradle project wizards -->
    <extension
          point="org.eclipse.ui.keywords">
       <keyword
             id="org.eclipse.buildship.ui.keyword.buildship"
             label="Buildship">
       </keyword>
    </extension>

    <!-- editor support for Gradle build scripts -->
    <extension
            point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.buildship.ui.internal.editor.GradleEditor"
            contributorClass="org.eclipse.buildship.ui.internal.editor.GradleEditorContributor"
            default="false"
            extensions="gradle"
            icon="icons/full/obj16/gradle_file.png"
            id="org.eclipse.buildship.ui.gradlebuildscripteditor"
            name="Gradle Build Script Editor">
      </editor>
    </extension>
    <extension
          point="org.eclipse.core.filebuffers.documentSetup">
       <participant
             class="org.eclipse.buildship.ui.internal.editor.GradleDocumentSetupParticipant"
             contentTypeId="org.eclipse.buildship.core.files.gradlebuildscript">
       </participant>
    </extension>

    <!-- integration of Gradle views -->
    <extension
         point="org.eclipse.ui.views">
      <view
            id="org.eclipse.buildship.ui.views.taskview"
            class="org.eclipse.buildship.ui.internal.view.task.TaskView"
            category="org.eclipse.buildship.ui.views"
            icon="icons/full/eview16/tasks_view.png"
            name="Gradle Tasks"
            restorable="true">
      </view>
      <view
            id="org.eclipse.buildship.ui.views.executionview"
            class="org.eclipse.buildship.ui.internal.view.execution.ExecutionsView"
            category="org.eclipse.buildship.ui.views"
            icon="icons/full/eview16/executions_view.png"
            name="Gradle Executions"
            restorable="true">
      </view>
      <category
            id="org.eclipse.buildship.ui.views"
            name="Gradle">
      </category>
    </extension>

    <!-- integration of Gradle commands -->
    <extension
          point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.buildship.ui.commands.refreshtaskview"
            categoryId="org.eclipse.ui.category.views"
            name="Refresh View (Gradle Tasks)"
            description="Refreshes the Gradle Tasks view">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.runtasks"
            categoryId="org.eclipse.debug.ui.category.run"
            name="Run Gradle Tasks"
            description="Runs all the selected Gradle tasks">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.rundefaulttasks"
            categoryId="org.eclipse.debug.ui.category.run"
            name="Run Gradle Default Tasks"
            description="Runs the default tasks of the selected Gradle project">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.openrunconfiguration"
            categoryId="org.eclipse.debug.ui.category.run"
            name="Open Gradle Run Configuration"
            description="Opens the Run Configuration for the selected Gradle tasks">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.openbuildscript"
            categoryId="org.eclipse.ui.category.navigate"
            name="Open Gradle Build Script"
            description="Opens the Gradle build script for the selected Gradle project">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.refreshproject"
            categoryId="org.eclipse.buildship.ui.project"
            name="Refresh Gradle Project"
            description="Synchronizes the Gradle builds of the selected projects with the workspace">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.addbuildshipnature"
            categoryId="org.eclipse.buildship.ui.project"
            name="Add Gradle Nature"
            description="Adds the Gradle nature and synchronizes this project as if the Gradle Import wizard had been run on its location.">
      </command>
      <command
            id="org.eclipse.buildship.ui.shortcut.test.run"
            categoryId="org.eclipse.debug.ui.category.run"
            name="Run Gradle Test"
            description="Run Gradle test based on the current selection">
            <!-- Supplementary command definition required to bind a launch shortcut to a key combination -->
            <!-- See the 'API information' section of http://help.eclipse.org/mars/topic/org.eclipse.platform.doc.isv/reference/extension-points/org_eclipse_debug_ui_launchShortcuts.html?cp=2_1_1_60 -->
      </command>
      <category
            id="org.eclipse.buildship.ui.project"
            name="Buildship"
            description="Contains the Buildship specific commands">
      </category>
    </extension>

    <!-- integration of Gradle command handlers -->
    <extension
          point="org.eclipse.ui.handlers">
      <handler
             commandId="org.eclipse.buildship.ui.commands.refreshtaskview"
             class="org.eclipse.buildship.ui.internal.view.task.RefreshViewHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.runtasks"
            class="org.eclipse.buildship.ui.internal.view.task.RunTasksHandler">
      </handler>
      <handler
                commandId="org.eclipse.buildship.ui.commands.rundefaulttasks"
                class="org.eclipse.buildship.ui.internal.view.task.RunTasksHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.openrunconfiguration"
            class="org.eclipse.buildship.ui.internal.view.task.OpenRunConfigurationHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.openbuildscript"
            class="org.eclipse.buildship.ui.internal.view.task.OpenBuildScriptHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.refreshproject"
            class="org.eclipse.buildship.ui.internal.workspace.RefreshProjectHandler">
         <activeWhen>
            <or>
                <with variable="activePartId">
                   <equals value="org.eclipse.buildship.ui.gradlebuildscripteditor"/>
                </with>
                <iterate
                        operator="or"
                        ifEmpty="false">
                    <adapt
                            type="org.eclipse.core.resources.IResource">
                        <and>
                            <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.buildship.core.gradleprojectnature">
                            </test>
                            <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.buildship.core.isGradleResource">
                            </test>
                         </and>
                    </adapt>
                </iterate>
            </or>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.addbuildshipnature"
            class="org.eclipse.buildship.ui.internal.workspace.AddBuildshipNatureHandler">
         <activeWhen>
            <iterate
                    operator="or"
                    ifEmpty="false">
                <adapt
                    type="org.eclipse.core.resources.IProject">
                    <not>
                        <test
                                forcePluginActivation="true"
                                property="org.eclipse.core.resources.projectNature"
                                value="org.eclipse.buildship.core.gradleprojectnature">
                        </test>
                    </not>
                </adapt>
            </iterate>
         </activeWhen>
      </handler>
    </extension>

    <!-- integration of Gradle command accelerators -->
    <extension
            point="org.eclipse.ui.contexts">
        <context
                id="org.eclipse.buildship.ui.contexts.taskview"
                name="In Gradle Tasks View"
                parentId="org.eclipse.ui.contexts.window"
                description="This context is activated when the Gradle Tasks view is in focus">
        </context>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.eclipse.buildship.ui.commands.refreshtaskview"
             contextId="org.eclipse.buildship.ui.contexts.taskview"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="F5">
       </key>
       <key
             commandId="org.eclipse.buildship.ui.shortcut.test.run"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M3+X G">
       </key>
   </extension>

    <!-- integration of Gradle command images -->
    <extension
          point="org.eclipse.ui.commandImages">
       <image
             commandId="org.eclipse.buildship.ui.commands.refreshtaskview"
             icon="icons/full/elcl16/refresh.png"
             disabledIcon="icons/full/dlcl16/refresh.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.runtasks"
             icon="icons/full/elcl16/run_tasks.png"
             disabledIcon="icons/full/dlcl16/run_tasks.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.refreshproject"
             icon="icons/full/elcl16/refresh.png"
             disabledIcon="icons/full/dlcl16/refresh.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.addbuildshipnature"
             icon="icons/full/eview16/tasks_view.png">
       </image>
    </extension>

    <!-- integration of a Gradle console into the Console View -->
    <extension
            point="org.eclipse.ui.console.consolePageParticipants">
        <consolePageParticipant
                id="org.eclipse.buildship.ui.console.gradle"
                class="org.eclipse.buildship.ui.internal.console.GradleConsolePageParticipant">
            <enablement/>
        </consolePageParticipant>
    </extension>

    <!-- visualization of the Gradle run configuration -->
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
                id="org.eclipse.buildship.ui.launch.runconfigurationtypeimage"
                configTypeID="org.eclipse.buildship.core.launch.runconfiguration"
                icon="icons/full/obj16/launch_config.png">
        </launchConfigurationTypeImage>
    </extension>
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
                id="org.eclipse.buildship.ui.launch.runconfigurationtabgroup"
                type="org.eclipse.buildship.core.launch.runconfiguration"
                class="org.eclipse.buildship.ui.internal.launch.GradleRunConfigurationTabGroup">
        </launchConfigurationTabGroup>
    </extension>

    <!-- "Gradle Test" entry in the "Run as... " context menu -->
    <extension
          point="org.eclipse.debug.ui.launchShortcuts">
       <shortcut
             class="org.eclipse.buildship.ui.internal.launch.TestLaunchShortcut"
             icon="icons/full/obj16/launch_config.png"
             id="org.eclipse.buildship.ui.shortcut.test"
             label="Gradle Test"
             modes="run">
          <configurationType
                id="org.eclipse.buildship.core.launch.runconfiguration">
          </configurationType>
          <contextualLaunch>
             <contextLabel
                   label="Gradle Test"
                   mode="run">
             </contextLabel>
             <enablement>
                <with variable="selection">
                    <test
                          property="org.eclipse.buildship.ui.properties.selectioncanbelaunchedastest"
                          forcePluginActivation="true">
                    </test>
                </with>
             </enablement>
          </contextualLaunch>
          <description
                description="Runs the selected test with Gradle"
                mode="run">
          </description>
       </shortcut>
    </extension>

    <!-- Adapters for showing gradle items in the properties view -->
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.eclipse.buildship.ui.internal.view.task.TaskNode"
             class="org.eclipse.buildship.ui.internal.view.task.adapter.TaskNodeAdapterFactory">
          <adapter
                type="org.eclipse.ui.views.properties.IPropertySource">
          </adapter>
       </factory>
       <factory
             adaptableType="org.eclipse.buildship.ui.internal.view.task.ProjectNode"
             class="org.eclipse.buildship.ui.internal.view.task.adapter.ProjectNodeAdapterFactory">
          <adapter
                type="org.eclipse.ui.views.properties.IPropertySource">
          </adapter>
       </factory>
    </extension>

    <!-- extension point to decorate the Gradle projects with a small Gradle icon -->
    <extension
            point="org.eclipse.ui.decorators">
        <decorator
                id="org.eclipse.buildship.ui.gradledecorator"
                label="Gradle Decorator"
                icon="icons/full/ovr16/gradle_logo.png"
                lightweight="true"
                location="TOP_LEFT"
                adaptable="true"
                state="true">
            <description>
                Adds an icon decoration to all Gradle projects
            </description>
            <enablement>
                <objectState
                        name="nature"
                        value="org.eclipse.buildship.core.gradleprojectnature">
                </objectState>
            </enablement>
        </decorator>
    </extension>

    <!-- 
        Register Gradle context menu item on Project Explorer and Package Explorer 
    -->
    <extension
            point="org.eclipse.ui.menus">
        <menuContribution
                locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                    id="org.eclipse.buildship.ui.contextmenuentry"
                    label="Gradle">
                <command
                        commandId="org.eclipse.buildship.ui.commands.refreshproject"
                        style="push">
                </command>
                <visibleWhen>
                    <or>
                        <with variable="activePartId">
                           <equals value="org.eclipse.buildship.ui.gradlebuildscripteditor"/>
                        </with>
                        <with
                                variable="activeMenuSelection">
                            <iterate
                                    operator="or"
                                    ifEmpty="false">
                                 <adapt
                                            type="org.eclipse.core.resources.IResource">
                                         <and>
                                            <test
                                                    forcePluginActivation="true"
                                                    property="org.eclipse.core.resources.projectNature"
                                                    value="org.eclipse.buildship.core.gradleprojectnature">
                                            </test>
                                            <test
                                                    forcePluginActivation="true"
                                                    property="org.eclipse.buildship.core.isGradleResource">
                                            </test>
                                         </and>
                                </adapt>
                            </iterate>
                        </with>
                    </or>
                </visibleWhen>
            </menu>
        </menuContribution>
        <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.eclipse.buildship.ui.commands.addbuildshipnature"
               style="push">
            <visibleWhen>
                <iterate
                        operator="or"
                        ifEmpty="false">
                    <adapt
                        type="org.eclipse.core.resources.IProject">
                        <not>
                            <test
                                forcePluginActivation="true"
                                property="org.eclipse.core.resources.projectNature"
                                value="org.eclipse.buildship.core.gradleprojectnature">
                            </test>
                        </not>
                    </adapt>
                </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
    </extension>

    <!-- extension point to register plugins that need to be activated (if not already activated) when a build execution starts -->
    <extension
          point="org.eclipse.buildship.core.executionparticipants">
       <plugin
             id="org.eclipse.buildship.ui">
       </plugin>
    </extension>

   <!-- property tester to determine whether a selection can be launched as tests -->
   <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             id="org.eclipse.buildship.ui.properties.testlaunchpropertytester"
             class="org.eclipse.buildship.ui.internal.launch.TestLaunchShortcutValidator$PropertyTester"
             namespace="org.eclipse.buildship.ui.properties"
             properties="selectioncanbelaunchedastest"
             type="java.lang.Object">
       </propertyTester>
    </extension>

    <!-- allow the user to show/hide the build folder in the Project/Package explorer and Navigator -->
    <extension
          point="org.eclipse.jdt.ui.javaElementFilters">
       <filter
             id="org.eclipse.buildship.ui.packageexplorer.filter.gradle.buildfolder"
             class="org.eclipse.buildship.ui.internal.navigator.BuildFolderViewerFilter"
             name="Gradle build folder"
             description="Hides the build folder of Gradle projects"
             enabled="true">
       </filter>
       <filter
             id="org.eclipse.buildship.ui.packageexplorer.filter.gradle.subProject"
             class="org.eclipse.buildship.ui.internal.navigator.SubProjectViewerFilter"
             name="Gradle sub projects"
             description="Hides Gradle sub project folders from their parent project"
             enabled="true">
       </filter>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <commonFilter
             id="org.eclipse.buildship.ui.navigator.filter.gradle.buildfolder"
             class="org.eclipse.buildship.ui.internal.navigator.BuildFolderViewerFilter"
             name="Gradle build folder"
             description="Hides the build folder of Gradle projects"
             activeByDefault="true"
             visibleInUI="true">
       </commonFilter>
       <commonFilter
             id="org.eclipse.buildship.ui.navigator.filter.gradle.subProject"
             class="org.eclipse.buildship.ui.internal.navigator.SubProjectViewerFilter"
             name="Gradle sub projects"
             description="Hides Gradle sub project folders from their parent project"
             activeByDefault="true"
             visibleInUI="true">
       </commonFilter>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding
             viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
             <contentExtension
                   pattern="org.eclipse.buildship.ui.navigator.filter.gradle.buildfolder">
             </contentExtension>
             <contentExtension
                   pattern="org.eclipse.buildship.ui.navigator.filter.gradle.subProject">
             </contentExtension>
          </includes>
       </viewerContentBinding>
    </extension>

    <!-- Add the "Gradle" menu to the workbench preferences-->
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="org.eclipse.buildship.ui.internal.preferences.GradleWorkbenchPreferencePage"
             id="org.eclipse.buildship.ui.preferences"
             name="Gradle">
       </page>
    </extension>

    <!-- Add the "Gradle" menu to the project preferences -->
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             class="org.eclipse.buildship.ui.internal.preferences.GradleProjectPreferencePage"
             id="org.eclipse.buildship.ui.projectproperties"
             name="Gradle">
         <enabledWhen>
           <adapt type="org.eclipse.core.resources.IProject">
             <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.buildship.core.gradleprojectnature"/>
           </adapt>
         </enabledWhen>
       </page>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             class="org.eclipse.buildship.ui.internal.marker.MarkersPropertyPage"
             id="org.eclipse.buildship.ui.propertypages.markers"
             name="Gradle">
          <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IMarker">
              <test
                   forcePluginActivation="true"
                   property="org.eclipse.buildship.ui.marker.gradlemarker"
                   value="true">
              </test>
            </adapt>
          </enabledWhen>
       </page>
    </extension>
    
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             id="org.eclipse.buildship.ui.properties.markerpropertytester"
             class="org.eclipse.buildship.ui.internal.marker.MarkerProperyTester"
             namespace="org.eclipse.buildship.ui.marker"
             properties="gradlemarker"
             type="org.eclipse.core.resources.IMarker">
       </propertyTester>
    </extension>
    
    <!-- Adjust styling when dark theme is used -->
    <extension
          point="org.eclipse.e4.ui.css.swt.theme">
       <stylesheet
             uri="css/dark-theme.css">
          <themeid
                refid="org.eclipse.e4.ui.css.theme.e4_dark">
          </themeid>
       </stylesheet>
    </extension>
</plugin>
