<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!--integration of help -->
    <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help-contexts.xml">
      </contexts>
    </extension>

    <!-- integration of a Gradle project creation wizard -->
    <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.buildship.ui.wizard.project.creation"
            class="org.eclipse.buildship.ui.wizard.project.ProjectCreationWizard"
            category="org.eclipse.buildship.ui.creationwizards"
            icon="icons/full/etool16/creation_wiz.png"
            name="Gradle Project"
            canFinishEarly="false"
            hasPages="true"
            project="true">
         <description>
            Create a new Gradle project in the local file system.
         </description>
         <keywordReference id="org.eclipse.buildship.ui.keyword.buildship"/>
      </wizard>
      <category
            id="org.eclipse.buildship.ui.creationwizards"
            name="Gradle">
      </category>
    </extension>

    <!-- integration of a Gradle project import wizard -->
    <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            id="org.eclipse.buildship.ui.wizards.project.import"
            class="org.eclipse.buildship.ui.wizard.project.ProjectImportWizard"
            category="org.eclipse.buildship.ui.importwizards"
            icon="icons/full/etool16/import_wiz.png"
            name="Gradle Project">
         <description>
            Import a Gradle project in the local file system.
         </description>
         <keywordReference id="org.eclipse.buildship.ui.keyword.buildship"/>
      </wizard>
      <category
            id="org.eclipse.buildship.ui.importwizards"
            name="Gradle">
      </category>
    </extension>

    <!-- definition of keywords available in search fields of Gradle project wizards -->
    <extension
          point="org.eclipse.ui.keywords">
       <keyword
             id="org.eclipse.buildship.ui.keyword.buildship"
             label="Buildship">
       </keyword>
    </extension>

    <!-- integration of Gradle icons into explorer -->
    <extension
            point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.buildship.ui.gradlebuildscripteditor"
            class="org.eclipse.ui.editors.text.TextEditor"
            icon="icons/full/obj16/gradle_logo.png"
            name="Gradle Build Script Editor"
            default="false"
            extensions="gradle">
      </editor>
    </extension>

    <!-- integration of Gradle views -->
    <extension
         point="org.eclipse.ui.views">
      <view
            id="org.eclipse.buildship.ui.views.taskview"
            class="org.eclipse.buildship.ui.view.task.TaskView"
            category="org.eclipse.buildship.ui.views"
            icon="icons/full/eview16/tasks_view.png"
            name="Gradle Tasks"
            restorable="true">
      </view>
      <view
            id="org.eclipse.buildship.ui.views.executionview"
            class="org.eclipse.buildship.ui.view.execution.ExecutionsView"
            category="org.eclipse.buildship.ui.views"
            icon="icons/full/eview16/executions_view.png"
            name="Gradle Executions"
            restorable="true">
      </view>
      <category
            id="org.eclipse.buildship.ui.views"
            name="Gradle">
      </category>
    </extension>

    <!-- integration of Gradle commands -->
    <extension
          point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.buildship.ui.commands.refreshtaskview"
            categoryId="org.eclipse.ui.category.views"
            name="Refresh View (Gradle Tasks)"
            description="Refreshes the Gradle Tasks view">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.runtasks"
            categoryId="org.eclipse.debug.ui.category.run"
            name="Run Gradle Tasks"
            description="Runs all the selected Gradle tasks">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.rundefaulttasks"
            categoryId="org.eclipse.debug.ui.category.run"
            name="Run Gradle Default Tasks"
            description="Runs the default tasks of the selected Gradle project">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.openrunconfiguration"
            categoryId="org.eclipse.debug.ui.category.run"
            name="Open Gradle Run Configuration"
            description="Opens the Run Configuration for the selected Gradle tasks">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.openbuildscript"
            categoryId="org.eclipse.ui.category.navigate"
            name="Open Gradle Build Script"
            description="Opens the Gradle build script for the selected Gradle project">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.refreshproject"
            categoryId="org.eclipse.buildship.ui.project"
            name="Refresh Gradle Project"
            description="Refreshes the selected Gradle project">
      </command>
      <category
            id="org.eclipse.buildship.ui.project"
            name="Buildship"
            description="Contains the Buildship specific commands">
      </category>
    </extension>

    <!-- integration of Gradle command handlers -->
    <extension
          point="org.eclipse.ui.handlers">
      <handler
             commandId="org.eclipse.buildship.ui.commands.refreshtaskview"
             class="org.eclipse.buildship.ui.view.task.RefreshViewHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.runtasks"
            class="org.eclipse.buildship.ui.view.task.RunTasksHandler">
      </handler>
      <handler
                commandId="org.eclipse.buildship.ui.commands.rundefaulttasks"
                class="org.eclipse.buildship.ui.view.task.RunTasksHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.openrunconfiguration"
            class="org.eclipse.buildship.ui.view.task.OpenRunConfigurationHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.openbuildscript"
            class="org.eclipse.buildship.ui.view.task.OpenBuildScriptHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.refreshproject"
            class="org.eclipse.buildship.ui.workspace.RefreshProjectHandler">
         <activeWhen>
            <and>
               <with
                     variable="activeContexts">
                  <iterate
                        operator="or">
                     <equals
                           value="org.eclipse.buildship.ui.contexts.gradlenature">
                     </equals>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
    </extension>

    <!-- integration of Gradle command accelerators -->
    <extension
            point="org.eclipse.ui.contexts">
        <context
                id="org.eclipse.buildship.ui.contexts.taskview"
                name="In Gradle Tasks View"
                parentId="org.eclipse.ui.contexts.window"
                description="This context is activated when the Gradle Tasks view is in focus">
        </context>
        <context
              id="org.eclipse.buildship.ui.contexts.gradlenature"
              name="Context for selected IProjects with Gradle nature"
              parentId="org.eclipse.ui.contexts.window"
              description="This context is activated when the selection contains an IProject with the Gradle nature">
        </context>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.eclipse.buildship.ui.commands.refreshtaskview"
             contextId="org.eclipse.buildship.ui.contexts.taskview"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="F5">
       </key>
   </extension>

    <!-- integration of Gradle command images -->
    <extension
          point="org.eclipse.ui.commandImages">
       <image
             commandId="org.eclipse.buildship.ui.commands.refreshtaskview"
             icon="icons/full/elcl16/refresh.gif"
             disabledIcon="icons/full/dlcl16/refresh.gif">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.runtasks"
             icon="icons/full/elcl16/run.png"
             disabledIcon="icons/full/dlcl16/run.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.refreshproject"
             icon="icons/full/elcl16/refresh.gif"
             disabledIcon="icons/full/dlcl16/refresh.gif">
       </image>
    </extension>

    <!-- integration of a Gradle console into the Console View -->
    <extension
            point="org.eclipse.ui.console.consolePageParticipants">
        <consolePageParticipant
                id="org.eclipse.buildship.ui.console.gradle"
                class="org.eclipse.buildship.ui.console.GradleConsolePageParticipant">
            <enablement/>
        </consolePageParticipant>
    </extension>

    <!-- visualization of the Gradle run configuration -->
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
                id="org.eclipse.buildship.ui.launch.runconfigurationtypeimage"
                configTypeID="org.eclipse.buildship.core.launch.runconfiguration"
                icon="icons/full/obj16/launch_config.png">
        </launchConfigurationTypeImage>
    </extension>
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
                id="org.eclipse.buildship.ui.launch.runconfigurationtabgroup"
                type="org.eclipse.buildship.core.launch.runconfiguration"
                class="org.eclipse.buildship.ui.launch.GradleRunConfigurationTabGroup">
        </launchConfigurationTabGroup>
    </extension>

    <!-- properties view for tasks and projects -->
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.eclipse.buildship.ui.view.task.TaskNode"
             class="org.eclipse.buildship.ui.view.task.adapter.TaskNodeAdapterFactory">
          <adapter
                type="org.eclipse.ui.views.properties.IPropertySource">
          </adapter>
       </factory>
       <factory
             adaptableType="org.eclipse.buildship.ui.view.task.ProjectNode"
             class="org.eclipse.buildship.ui.view.task.adapter.ProjectNodeAdapterFactory">
          <adapter
                type="org.eclipse.ui.views.properties.IPropertySource">
          </adapter>
       </factory>
    </extension>

    <!-- extension point to decorate the Gradle projects with a small Gradle icon -->
    <extension
            point="org.eclipse.ui.decorators">
        <decorator
                id="org.eclipse.buildship.ui.gradledecorator"
                label="Gradle Decorator"
                icon="icons/full/ovr16/gradle_logo.png"
                lightweight="true"
                location="TOP_LEFT"
                adaptable="true"
                state="true">
            <description>
                Adds an icon decoration to all Gradle projects
            </description>
            <enablement>
                <and>
                    <objectState
                            name="nature"
                            value="org.eclipse.buildship.core.gradleprojectnature">
                    </objectState>
                </and>
            </enablement>
        </decorator>
    </extension>

    <!-- register Gradle context menu item on Project Explorer and Package Explorer -->
    <extension
            point="org.eclipse.ui.menus">
        <menuContribution
                allPopups="true"
                locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
            <menu
                    id="org.eclipse.buildship.ui.contextmenuentry"
                    label="Gradle">
                <command
                        commandId="org.eclipse.buildship.ui.commands.refreshproject"
                        style="push">
                    <visibleWhen
                            checkEnabled="false">
                       <and>
                          <with
                                variable="activeContexts">
                             <iterate
                                   operator="or">
                                <equals
                                      value="org.eclipse.buildship.ui.contexts.gradlenature">
                                </equals>
                             </iterate>
                          </with>
                       </and>
                    </visibleWhen>
                </command>
            </menu>
        </menuContribution>
        <menuContribution
             allPopups="true"
             locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
          <menu
                id="org.eclipse.buildship.ui.contextmenuentry"
                label="Gradle">
          </menu>
       </menuContribution>
    </extension>

    <!-- extension point to register plugins that need to be activated (if not already activated) when a build execution starts -->
    <extension
          point="org.eclipse.buildship.core.executionparticipants">
       <plugin
             id="org.eclipse.buildship.ui">
       </plugin>
    </extension>
</plugin>
