<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!--integration of help -->
    <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/help-contexts.xml">
      </contexts>
    </extension>

    <!-- integration of a Gradle project import wizard -->
    <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            id="org.eclipse.buildship.ui.wizards.projectimport"
            class="org.eclipse.buildship.ui.projectimport.ProjectImportWizard"
            category="org.eclipse.buildship.ui.wizards"
            icon="icons/full/etool16/import_wiz.png"
            name="Gradle Project">
         <description>
            Import a Gradle project in the local file system.
         </description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <category
            id="org.eclipse.buildship.ui.wizards"
            name="Gradle">
      </category>
    </extension>

    <!-- integration of Gradle icons into explorer -->
    <extension
            point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.buildship.ui.gradlebuildscripteditor"
            class="org.eclipse.ui.editors.text.TextEditor"
            icon="icons/full/obj16/gradle_logo.png"
            name="Gradle Build Script Editor"
            default="false"
            extensions="gradle">
      </editor>
    </extension>

    <!-- integration of Gradle views -->
    <extension
         point="org.eclipse.ui.views">
      <view
            id="org.eclipse.buildship.ui.views.taskview"
            class="org.eclipse.buildship.ui.taskview.TaskView"
            category="org.eclipse.buildship.ui.views"
            icon="icons/full/eview16/tasks.png"
            name="Gradle Tasks"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.buildship.ui.views"
            class="org.eclipse.buildship.ui.view.executionview.ExecutionPart"
            icon="icons/full/eview16/tasks.png"
            id="org.eclipse.buildship.ui.views.executionview"
            name="Gradle Execution"
            restorable="true">
      </view>
      <category
            id="org.eclipse.buildship.ui.views"
            name="Gradle">
      </category>
    </extension>

    <!-- integration of Gradle commands -->
    <extension
          point="org.eclipse.ui.commands">
      <command
             id="org.eclipse.buildship.ui.commands.refreshtaskview"
             categoryId="org.eclipse.ui.category.views"
             name="Refresh View (Gradle Tasks)"
             description="Refreshes the Gradle Tasks view">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.runtasks"
            categoryId="org.eclipse.debug.ui.category.run"
            name="Run Gradle Tasks"
            description="Runs all the selected Gradle tasks">
      </command>
      <command
              id="org.eclipse.buildship.ui.commands.rundefaulttasks"
              categoryId="org.eclipse.debug.ui.category.run"
              name="Run Gradle Default Tasks"
              description="Runs the default tasks of the selected Gradle project">
      </command>
        <command
            id="org.eclipse.buildship.ui.commands.openrunconfiguration"
            categoryId="org.eclipse.debug.ui.category.run"
            name="Open Gradle Run Configuration"
            description="Opens the Run Configuration for the selected Gradle tasks">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.openbuildscript"
            categoryId="org.eclipse.ui.category.navigate"
            name="Open Gradle Build Script"
            description="Opens the Gradle build script for the selected Gradle project">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.showtreeheader"
            name="Show Header">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.showtreefilter"
            name="Show Filter">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.tree.expandall"
            name="Expand all">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.tree.collapseall"
            name="Collapse all">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.switchpage"
            name="Switch Page">
         <commandParameter
               id="org.eclipse.buildship.ui.commandParameters.pageid"
               name="PageId"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.removepage"
            name="Remove Page">
      </command>
      <command
            id="org.eclipse.buildship.ui.commands.removeallpages"
            name="Remove All Pages">
      </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
      <handler
             commandId="org.eclipse.buildship.ui.commands.refreshtaskview"
             class="org.eclipse.buildship.ui.taskview.RefreshViewHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.runtasks"
            class="org.eclipse.buildship.ui.taskview.RunTasksHandler">
      </handler>
        <handler
                commandId="org.eclipse.buildship.ui.commands.rundefaulttasks"
                class="org.eclipse.buildship.ui.taskview.RunTasksHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.openrunconfiguration"
            class="org.eclipse.buildship.ui.taskview.OpenRunConfigurationHandler">
      </handler>
      <handler
            commandId="org.eclipse.buildship.ui.commands.openbuildscript"
            class="org.eclipse.buildship.ui.taskview.OpenBuildScriptHandler">
      </handler>
      <handler
            class="org.eclipse.buildship.ui.handler.ShowViewerHeaderHandler"
            commandId="org.eclipse.buildship.ui.commands.showtreeheader">
         <activeWhen>
            <and>
               <reference
                     definitionId="org.eclipse.buildship.ui.isFilteredTreePart">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.buildship.ui.handler.ShowTreeFilterHandler"
            commandId="org.eclipse.buildship.ui.commands.showtreefilter">
         <activeWhen>
            <and>
               <reference
                     definitionId="org.eclipse.buildship.ui.isFilteredTreePart">
               </reference>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.buildship.ui.handler.ExpandHandler"
            commandId="org.eclipse.buildship.ui.commands.tree.expandall">
      </handler>
      <handler
            class="org.eclipse.buildship.ui.handler.CollapseHandler"
            commandId="org.eclipse.buildship.ui.commands.tree.collapseall">
      </handler>
      <handler
            class="org.eclipse.buildship.ui.handler.SwitchPageHandler"
            commandId="org.eclipse.buildship.ui.commands.switchpage">
         <enabledWhen>
            <and>
               <with
                     variable="activePart">
                  <test
                        property="buildship.ui.pagespart.hasPages">
                  </test>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.buildship.ui.handler.RemovePageHandler"
            commandId="org.eclipse.buildship.ui.commands.removepage">
      </handler>
      <handler
            class="org.eclipse.buildship.ui.handler.RemoveAllPagesHandler"
            commandId="org.eclipse.buildship.ui.commands.removeallpages">
      </handler>
    </extension>
    <extension
            point="org.eclipse.ui.contexts">
        <context
                id="org.eclipse.buildship.ui.contexts.taskview"
                name="In Gradle Tasks View"
                parentId="org.eclipse.ui.contexts.window">
        </context>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.eclipse.buildship.ui.commands.refreshtaskview"
             contextId="org.eclipse.buildship.ui.contexts.taskview"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="F5">
       </key>
   </extension>
   <extension
          point="org.eclipse.ui.commandImages">
       <image
             commandId="org.eclipse.buildship.ui.commands.refreshtaskview"
             icon="icons/full/elcl16/refresh.gif"
             disabledIcon="icons/full/dlcl16/refresh.gif">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.runtasks"
             icon="icons/full/elcl16/run.png"
             disabledIcon="icons/full/dlcl16/run.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.tree.expandall"
             icon="icons/full/elcl16/expandall.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.tree.collapseall"
             icon="icons/full/elcl16/collapseall.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.switchpage"
             icon="icons/full/elcl16/toggledetailpane_co.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.removepage"
             icon="icons/full/elcl16/rem_co.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.removeallpages"
             icon="icons/full/elcl16/rem_all_co.png">
       </image>
       <image
             commandId="org.eclipse.buildship.ui.commands.showtreefilter"
             icon="icons/full/etool16/filter_ps.png">
       </image>
    </extension>

    <!-- integration of a Gradle console into the Console View -->
    <extension
            point="org.eclipse.ui.console.consolePageParticipants">
        <consolePageParticipant
                id="org.eclipse.buildship.ui.console.gradle"
                class="org.eclipse.buildship.ui.console.GradleConsolePageParticipant">
            <enablement/>
        </consolePageParticipant>
    </extension>

    <!-- visualization of the Gradle run configuration -->
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
                id="org.eclipse.buildship.ui.launch.runconfigurationtypeimage"
                configTypeID="org.eclipse.buildship.core.launch.runconfiguration"
                icon="icons/full/obj16/launch_config.png">
        </launchConfigurationTypeImage>
    </extension>
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
                id="org.eclipse.buildship.ui.launch.runconfigurationtabgroup"
                type="org.eclipse.buildship.core.launch.runconfiguration"
                class="org.eclipse.buildship.ui.launch.GradleRunConfigurationTabGroup">
        </launchConfigurationTabGroup>
    </extension>

    <!-- properties view for tasks and projects -->
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.eclipse.buildship.ui.taskview.TaskNode"
             class="org.eclipse.buildship.ui.taskview.adapter.TaskNodeAdapterFactory">
          <adapter
                type="org.eclipse.ui.views.properties.IPropertySource">
          </adapter>
       </factory>
       <factory
             adaptableType="org.eclipse.buildship.ui.taskview.ProjectNode"
             class="org.eclipse.buildship.ui.taskview.adapter.ProjectNodeAdapterFactory">
          <adapter
                type="org.eclipse.ui.views.properties.IPropertySource">
          </adapter>
       </factory>
    </extension>
    <extension
          name="Menus for the execution view"
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="menu:org.eclipse.buildship.ui.views.executionview">
          <command
                commandId="org.eclipse.buildship.ui.commands.showtreeheader"
                style="toggle">
          </command>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="toolbar:org.eclipse.buildship.ui.views.executionview">
          <command
                commandId="org.eclipse.buildship.ui.commands.tree.expandall"
                style="push"
                tooltip="Expand All">
          </command>
          <command
                commandId="org.eclipse.buildship.ui.commands.tree.collapseall"
                style="push"
                tooltip="Collapse All">
          </command>
          <separator
                name="org.eclipse.buildship.ui.separator.expandcollapse"
                visible="true">
          </separator>
          <command
                commandId="org.eclipse.buildship.ui.commands.switchpage"
                id="org.eclipse.buildship.ui.commands.switchpage"
                label="Switch Gradle Execution Page"
                style="pulldown">
          </command>
          <separator
                name="org.eclipse.buildship.ui.separator.switchexecution"
                visible="true">
          </separator>
          <command
                commandId="org.eclipse.buildship.ui.commands.removepage"
                label="Remove Build Execution"
                style="push"
                tooltip="Remove Build Execution">
          </command>
          <command
                commandId="org.eclipse.buildship.ui.commands.removeallpages"
                label="Remove All Build Executions"
                style="push"
                tooltip="Remove All Build Executions">
          </command>
          <separator
                name="org.eclipse.buildship.ui.separator.removepages"
                visible="true">
          </separator>
          <command
                commandId="org.eclipse.buildship.ui.commands.showtreefilter"
                style="toggle"
                tooltip="Show Filter">
          </command>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="menu:org.eclipse.buildship.ui.commands.switchpage">
          <dynamic
                class="org.eclipse.buildship.ui.handler.DynamicCommandSwitch"
                id="org.eclipse.buildship.ui.commands.switchtopage">
          </dynamic>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.core.expressions.definitions">
       <definition
             id="org.eclipse.buildship.ui.isFilteredTreePart">
          <and>
             <with
                   variable="activePart">
                <instanceof
                      value="org.eclipse.buildship.ui.view.FilteredTreeProvider">
                </instanceof>
             </with>
          </and>
       </definition>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.eclipse.buildship.ui.propertytester.PagesPartPropertyTester"
             id="org.eclipse.buildship.ui.propertytester.pagespart"
             namespace="buildship.ui.pagespart"
             properties="hasPages"
             type="java.lang.Object">
       </propertyTester>
    </extension>
 </plugin>
