<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- extension point to activate plugins when a build execution starts -->
   <extension-point id="executionparticipants" name="Build Execution Participants" schema="schema/executionparticipants.exsd"/>

    <!-- initialization of the classpath container-->
    <extension
            point="org.eclipse.jdt.core.classpathContainerInitializer">
        <classpathContainerInitializer
                id="org.eclipse.buildship.core.gradleclasspathcontainer"
                class="org.eclipse.buildship.core.workspace.internal.GradleClasspathContainerInitializer">
        </classpathContainerInitializer>
    </extension>

    <!-- registration of a Gradle project builder and Gradle project nature -->
    <extension
            id="gradleprojectnature"
            name="Gradle Project Nature"
            point="org.eclipse.core.resources.natures">
        <builder id="org.eclipse.buildship.core.gradleprojectbuilder"/>
        <runtime>
            <run class="org.eclipse.buildship.core.configuration.internal.DefaultGradleProjectNature"/>
        </runtime>
    </extension>

    <extension
            id="gradleprojectbuilder"
            name="Gradle Project Builder"
            point="org.eclipse.core.resources.builders">
        <builder hasNature="true">
            <run class="org.eclipse.buildship.core.configuration.internal.DefaultGradleProjectBuilder" />
        </builder>
    </extension>

    <!-- registration of error markers -->
    <extension
            id="gradleprojectconfigurationmarker"
            name="Gradle Project Configuration Marker"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.core.resources.problemmarker" />
        <persistent value="true" />
    </extension>

    <!-- integration of a Gradle run configuration -->
    <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.eclipse.buildship.core.launch.runconfiguration"
            delegate="org.eclipse.buildship.core.launch.GradleRunConfigurationDelegate"
            name="Gradle Project"
            modes="run">
      </launchConfigurationType>
   </extension>
   
   <!-- A property tester that can be used to determine if a resource is a Gradle build file -->
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.eclipse.buildship.core.configuration.internal.GradleResourceTester"
             id="org.eclipse.buildship.core.GradleResourceTester"
             namespace="org.eclipse.buildship.core"
             properties="isGradleResource"
             type="org.eclipse.core.resources.IResource">
       </propertyTester>
    </extension>
    <extension
          point="org.eclipse.jdt.launching.runtimeClasspathEntryResolvers">
       <runtimeClasspathEntryResolver
             class="org.eclipse.buildship.core.workspace.internal.GradleClasspathContainerRuntimeClasspathEntryResolver"
             container="org.eclipse.buildship.core.gradleclasspathcontainer"
             id="org.eclipse.buildship.core.classpathcontainerentryresolver">
       </runtimeClasspathEntryResolver>
    </extension>

</plugin>
