<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- initialization of the classpath container-->
    <extension
            point="org.eclipse.jdt.core.classpathContainerInitializer">
        <classpathContainerInitializer
                id="com.gradleware.tooling.eclipse.core.gradleclasspathcontainer"
                class="com.gradleware.tooling.eclipse.core.workspace.internal.GradleClasspathContainerInitializer">
        </classpathContainerInitializer>
    </extension>

    <!-- Gradle builder and nature -->
    <extension
         id="nature"
         name="Gradle Nature"
         point="org.eclipse.core.resources.natures">
         <builder id="com.gradleware.tooling.eclipse.core.builder"/>
      <runtime>
         <run class="com.gradleware.tooling.eclipse.core.project.internal.DefaultGradleProjectNature"/>
      </runtime>
    </extension>
    <extension
          id="builder"
          name="Gradle Builder"
          point="org.eclipse.core.resources.builders">
       <builder hasNature="true">
          <run class="com.gradleware.tooling.eclipse.core.project.internal.DefaultGradleProjectBuilder" /> 
       </builder>
    </extension>
    
     <!-- error marker definition -->
     <extension
         id="missingconfiguration"
         name="Missing Gradle Project Configuration"
         point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.core.resources.problemmarker" />
       <persistent value="true" />
     </extension>

    <!-- integration of a Gradle run configuration -->
    <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="com.gradleware.tooling.eclipse.core.launch.runconfiguration"
            delegate="com.gradleware.tooling.eclipse.core.launch.GradleRunConfigurationDelegate"
            name="Gradle Project"
            modes="run">
      </launchConfigurationType>
   </extension>
</plugin>
